REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_NAME=Sistema de Gestion de Calidad
REACT_APP_VERSION=1.0.0
REACT_APP_GOOGLE_CLIENT_ID=580702732199-jmeutruntu92d4blhvq28gdfqlucml3p.apps.googleusercontent.com
